* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: black;
    background: white;
}

.header_page {
    width: 1900px;
    min-height: 900px;
    background-image: url(image/Фон.jpg);
}

.navigation {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  min-height: 70px;
  padding-top: 105px;
  padding-right: 65px;
}

.logo {
    display: block;
    background-color: black;
}

.navigation_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto 0;
    padding: 0;
    margin-left: 149px;
    list-style: none;
}

.navigation_title_main {
    display: block;
    min-width: 200px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: white;
}

