@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    padding-left: 122px;
    background: white;
    width: 1440px;
}

ul {
    list-style: none;
}

.header_page {
    height: 1024px;
    background-image: url(image/Фон.jpg);
    color: white;
    background-size: cover;
}

.navigation {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  padding-top: 47px;
  padding-left: 122px;
}

.logo {
    display: block;
    background-color: black;
    padding-right: 190px;
}

.navigation_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    margin: auto 0;
    padding: 0;
    list-style: none;
}

.navigation_title_main {
    display: block;
    min-width: 200px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
    color: white;
    font-family: "Istok Web", sans-serif;
    font-style: normal;
    padding-right: 50px;
}

.page_banner_flex{
    display: flex;
    justify-content: space-between;
    gap: 337px;
    min-width: 120px;
}

.container_page_header {
    justify-content: space-between;
    gap: 337px;
    min-width: 120px
    }

.header_list {
    font-family: "Kenia", sans-serif;
    font-size: 150px;
    line-height: 150px;
    width: 412px;
    height: 264px;
    padding-left: 115px;
    padding-top: 164px;
}

.bottom_header_list {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 175px;
    padding-left: 122px;
    font-size: 20px;
    line-height: 29px;
    width: 290px;
    
}

.phone_header {
    position: relative;
    width: 500px;
    height: 888px;
}

.phone_iphone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 500px;
    height: 890px;
    left: -127px;
}

.phone_cabel {
    position: absolute;
    bottom: -4px;
    left: -70px;
    height: 158px;
    z-index: 1;
}

#page_two {
    background-color: #D53005;
    height: 1024px;
    top: 1024px;
}

.main_header {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-left: 122px;
    padding-top: 83px;
    width: 84px;
    height: 35px;
    color: white;
}

.btn_page_music {
    padding-left: 122px;
    display: flex;
    align-items: center;

}

.main_buttons_music {
    width: 382px;
    height: 83px;
}
 .button_music {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    width: 382px;
    height: 83px;
    background: radial-gradient(98.43% 2084.95% at 1.57% 7.83%, #B13E18 0%, #F3501A 100%);
    border: 1px solid rgba(0, 0, 0, 0.1);;
    color: white;
    box-shadow: -4px -4px 30px 0px rgba(255, 255, 255, 0.1), 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
    margin-top: 88px;
 }

.image_disc {
    width: 1000px;
    height: 666.5px;
    position: relative;
    right: 65px;
    top: 150px;
}

#about {
    background: linear-gradient(180deg, #D53005 0%, #000000 6.04%);
    height: 1024px;
    color: white;
}

.about_text {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    width: 81px;
    height: 35px;
    padding-top: 83px;
    padding-left: 122px;
}

.about_main_text {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    width: 969px;
    height: 72px;
    margin-top: 476px;
    margin-left: 275px;
    line-height: 35.07px;
}

#store {
    background-color: #D53005;
    height: 1024px;
    color: white;
}

.content_page_store {
    margin-top: 141px;
    width: 1440px;
}

.store_text {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    padding-top: 83px;
    padding-left: 122px;
}

.btn_store {
  display: block;
  width: 240px;
  height: 60px;
  opacity: 1;
  border-radius: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 254px;
  margin-left: 110px;
  top: 254px;
  left: 110px;
}

.btn1_store {
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.1), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(2, 2, 2, 0.9);
    color: #fff;
    border: none;
}

.btn2_store {
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.1), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 48px;
    margin-bottom: 135px;
}

.info_store {
    font-family: "Montserrat";
    text-align: center;
    width: 431px;
}

.question_info_store {
    font-size: 21px;
    font-weight: 600;
    padding-left: 25px;
    line-height: 25.6px;
    width: 419px;
    height: 28px;
    padding-bottom: 17px;
}

.info_download {
    font-size: 18px;
    font-weight: 400;
    width: 431px;
    height: 110px;
    padding-left: 19px;
}

.download_button {
    color: #000000B2;
}

.macbook {
    width: 1168.3248291015625px;
    height: 685px;
    position: relative;
    left: 380px;
    bottom: 550px;
    }

.page_footer {
    height: 536px;
    background: linear-gradient(180deg, #D53005 0%, #000000 6.04%);
    color: white;
    margin: auto;
}

.blocks_footer {
    display: flex;
    justify-content: space-between;
    padding: 120px 62px 76px 452px;
    width: 926px;
    height: 148px;
}

.title_block_footer {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    line-height: 44px;
}

.link_footer {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.footer_logo {
    font-family: "Kenia", sans-serif;
    font-weight: 400;
    font-size: 50px;
    width: 138px;
    height: 100px;
    padding-left: 110px;
    line-height: 50px;
    text-align: left;
}

.footer_text {
    display: flex;
    padding-left: 106px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 10px;
    gap: 99px;
    text-align: left;
    line-height: 18,29px;
    padding-bottom: 74px;
}